<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
       default-autowire="byName" default-lazy-init="false">

	<bean id="quartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean"
          lazy-init="false" autowire="no">
        <property name="autoStartup" value="true"/>
        <property name="configLocation" value="classpath:quartz.properties"/>
        <property name="applicationContextSchedulerContextKey">
            <value>applicationContext</value>
        </property>
        <property name="waitForJobsToCompleteOnShutdown" value="true"/>
        <property name="triggers">
            <list>
            <!-- 	<ref bean="preAlarmInfoCronTrigger"/>  -->
                <ref bean="doTime"/>  
            </list>
        </property>
    </bean>       

<!-- 预警信息任务执行bean -->
   <!--  
    <bean id="preAlarmInfoDetail" class="org.springframework.scheduling.quartz.JobDetailBean">
    	<property name="jobClass">
    		<value>com.yundao.platformex.service.impl.PreAlarmInfoDetail</value>
    	</property>
    </bean>

    预警信息触发器bean定义
    <bean id="preAlarmInfoCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
    	<property name="jobDetail" ref="preAlarmInfoDetail" />
    	每天7点到20点之间,每隔1小时逢整点时执行1次
    	
    	<property name="cronExpression" value="0 0 7-20/1 * * ?" />
    	
    	<property name="cronExpression" value="0 0 0/1 * * ?" />
    </bean> -->
    
 <!-- comet -->   
 	<bean id="jobtask" class="org.springframework.scheduling.quartz.JobDetailBean">
    	<property name="jobClass">
    		<value>com.huifu.service.impl.CometInfoDetail</value>
    	</property>
    </bean>

<!--     预警信息触发器bean定义 -->
    <bean id="doTime" class="org.springframework.scheduling.quartz.CronTriggerBean">
    	<property name="jobDetail" ref="jobtask" />
    <!-- 	每天7点到20点之间,每隔1小时逢整点时执行1次
    	
    	<property name="cronExpression" value="0 0 7-20/1 * * ?" /> -->
    	
    	<property name="cronExpression" value="0/30 * * * * ?" />
    </bean> 
 
 <!-- 
 <bean id="jobtask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
            <property name="targetObject">  
               <bean class="com.yundao.platformex.action.UserAction"/>      
            </property>  
           <property name="targetMethod" value="Line"></property> 
        </bean>  
        <bean id="doTime" class="org.springframework.scheduling.quartz.CronTriggerBean">  
            <property name="jobDetail">  
                <ref bean="jobtask"/>  
            </property>  
            <property name="cronExpression">  
                <value>0/10 * * * * ?</value>  
            </property>  
        </bean>  
          <bean id="startQuertz" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
            <property name="triggers">
                <list>
                    <ref bean="doTime"/>
                </list>
            </property>
        </bean>
 -->


</beans>
